<div class="sec-padding_add">
<mat-card class="center-card " >
   
    <div class="title">
      <h3>Add Now Your Blog</h3>
    </div>
    <br>
      <mat-card-content>
          <div style="margin: 25px; ">
              <form [formGroup]="postForm" id="postForm" name="postForm">
    
               
                  <mat-form-field class="w-100" >
                      <input matInput placeholder="Title" formControlName="title" required>
                    </mat-form-field>
            
             
                <mat-form-field  class="w-100">
                  <mat-label>Image</mat-label>
                  <div class="fileUploadContainer" [ngStyle]="{'margin-top' : postForm.get('image')!.value ? '5px' :  '20px'}">
                    <ng-container *ngIf="postForm.get('image')!.value">
                      <img [src]="postForm.get('image')!.value" />
                      <button class="deleteButton" mat-icon-button (click)="fileInput.value = ''; postForm.get('image')?.setValue(null);">
                        <mat-icon>close</mat-icon>
                      </button>
                    </ng-container>
                    <!-- no image -->
                    <div *ngIf="!postForm.get('image')!.value" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                      <mat-icon style="opacity: 60%;">file_upload</mat-icon>
                      <button mat-raised-button color="primary" style="width:100%; opacity: 80%;">Browser</button>
                      <small style="margin: 20px">Drag and drop here</small>
                    </div>
                    <!-- put on top of the fileUploadContainer with opacity 0 -->
                    <input #fileInput class="fileInput" type="file" multiple="multiple" accept="image/*"
                      (change)="setFileData($event)" />
                  </div>
                  <input matInput formControlName="image" readonly [hidden]="true " />
                </mat-form-field>
        
              <mat-form-field  class="w-100">
                  <textarea placeholder="Description" matInput rows="5" formControlName="description" required></textarea>
              </mat-form-field>
       
    
                <button  class="btn-project" mat-raised-button color="accent" style="float : right;"
                [disabled]="!postForm.valid" (click)="createBlog()">Create New Blog</button>
        
              </form>
          </div>
      </mat-card-content>
    
    </mat-card>
    
</div>