<div class="set-new-password sec-padding">
  <div class="container">
    <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="p-0">
      <div class="set-new-password-wrapper pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
        <div class="title">
          <h3>Set New Password</h3>
        </div>
        <div class="set-new-password-body">
          <p>Please enter your new password below.</p>
          <form fxLayout="row wrap" [formGroup]="setNewPasswordForm">
            <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                <input matInput placeholder="New Password" name="newPassword" id="newPassword" formControlName="newPassword" type="password" required>
                <mat-error *ngIf="setNewPasswordForm.get('newPassword').touched && setNewPasswordForm.get('newPassword').errors?.required && !setNewPasswordForm.submitted">Please enter your new password</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                <input matInput placeholder="Confirm New Password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" type="password" required>
                <mat-error *ngIf="setNewPasswordForm.get('confirmPassword').touched && setNewPasswordForm.get('confirmPassword').errors?.required && !setNewPasswordForm.submitted">Please confirm your new password</mat-error>
                <mat-error *ngIf="setNewPasswordForm.get('confirmPassword').touched && setNewPasswordForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="center" class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <button class="btn-project" mat-raised-button color="accent" type="submit" (click)="setNewPassword()" style="margin-bottom: 10px;">Set New Password</button>
            </div>
          </form>
        </div>
        <div class="login-link-container" fxLayoutAlign="center">
          <a routerLink="/pages/my-account" class="login-link custom-link">Click Here to Sign In</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
