<div class="user-component sec-padding_users">
  <div class="container">
    <div class="mat-elevation-z8">
      <style>
        .container {
            width: 100%;
            overflow-x: auto;
        }

        .users-class {
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 0 15px;
        }

        .users-class th, .users-class td {
            text-align: left;
            vertical-align: middle;
            padding: 10px;
        }
        .mat-column-id { width: 5%; }
        .mat-column-firstname { width: 10%; }
        .mat-column-lastname { width: 10%; }
        .mat-column-email { width: 20%; }
        .mat-column-telephone { width: 10%; }
        .mat-column-userRole { width: 10%; }
        .mat-column-actions { width: 5%; }

        .mat-paginator {
            background: none;
            padding-top: 10px;
        }
        .users-class td.actions-column button {
            margin-right: 10px;
        }

       
      </style>
      <table mat-table [dataSource]="users" class="users-class">
        <ng-container matColumnDef="id" class="mat-column-id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname" class="mat-column-firstname">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname" class="mat-column-lastname">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="email" class="mat-column-email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let user" class="email"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="telephone" class="mat-column-telephone">
          <th mat-header-cell *matHeaderCellDef> Telephone </th>
          <td mat-cell *matCellDef="let user"> {{user.telephone}} </td>
        </ng-container>

        <ng-container matColumnDef="userRole" class="mat-column-userRole">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let user"> {{user.userRole}} </td>
        </ng-container>

        <ng-container matColumnDef="actions" class="mat-column-actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let user" class="actions-column"> 
            <button mat-icon-button color="primary" (click)="desactiverUser(user)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>
</div>
