<div class="container">
  <div class="checkout sec-padding">
      <div fxLayout="row wrap" class="">
          <div class="billing-details  pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <div class="header-title">
                <h2>Billing Details</h2>
            </div>

              <form fxLayout="row wrap">
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Company name (optional)" #subject="ngModel" [(ngModel)]="delivery.companyName" name="companyName">
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Address" #address="ngModel"  [(ngModel)]="delivery.address" name="address">
                          <mat-error *ngIf="address.invalid">Please enter a valid message</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Town/city" #town="ngModel"  [(ngModel)]="delivery.city" name="state">
                          <mat-error *ngIf="town.invalid">Please enter a valid message</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="mt-20 pr-5" ngClass.sm="mt-10" ngClass.xs="mt-10">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="State / Country (required)" #state="ngModel"  [(ngModel)]="delivery.state" name="state" required>
                          <mat-error *ngIf="state.invalid">Please enter a valid message</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Postcode / zip (required)" #postcode="ngModel" [(ngModel)]="delivery.postCode" name="postcode" required>
                          <mat-error *ngIf="postcode.invalid">Please enter a valid message</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Phone (required)" #phone="ngModel"  [(ngModel)]="delivery.contactNumber" name="phone" required>
                          <mat-error *ngIf="phone.invalid">Please enter a valid message</mat-error>
                        </mat-form-field>
                  </div>
                  </form>
          </div>
          <div class="mainOrder-wrapper pl-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <div class="main-order " >
              <div class="order-box">
                  <div class="title-box">
                      <div>Product <span class="tl-amount"> Total</span></div>
                  </div>
                  <ul class="price-list" *ngIf='buyProducts.length'>
                    <li *ngFor="let item of buyProducts">
                       {{ item.product.name }} × {{ item.quantity }}
                      <span>
                       {{ item.product.price * item.quantity  }}
                        </span>
                    </li>
                </ul>
                <ul class="quantity" *ngIf='buyProducts.length <= 0'>
                  <li class="empty-checkout"> There are no products in cart </li>
                 </ul>
                <ul class="total-amount">
                  <li>
                    Subtotal <span class="amount">{{ subtotal$ | async }}</span>
                  </li>
                  
              </ul>
              <ul class="total">
                <li>Total <span class="count">{{ (subtotal$ | async) + shippingFee }}</span></li>
            </ul>
           
           
            <div class="order">
              <button class="btn-project" mat-raised-button color="accent" type="submit" (click)="checkout(this.user.id, cartId, delivery)" [routerLink]="['']" routerLinkActive="router-link-active">PLACE ORDER</button>
            </div>
               </div>
          </div>
          </div>
       </div>
    </div>
</div>