<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row"  fxLayout.xs="row" fxLayoutAlign="space-between center">
  <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
    <a [routerLink]="['/']" *ngIf="!isAdminLoggedIn()"  routerLinkActive="router-link-active"   mat-button class="mat-button">Home</a>
    <a *ngIf="!isAdminLoggedIn()" [routerLink]="['/products/all']" routerLinkActive="router-link-active"  mat-button class="mat-button">Products</a>
    <a *ngIf="isAdminLoggedIn()" [routerLink]="['/admin/users']" routerLinkActive="router-link-active"  mat-button class="mat-button">Users</a>
    <a *ngIf="isAdminLoggedIn()" [routerLink]="['/admin/products']" routerLinkActive="router-link-active"  mat-button class="mat-button">Products</a>
    <a *ngIf="isAdminLoggedIn()" [routerLink]="['/admin/categories']" routerLinkActive="router-link-active"  mat-button class="mat-button">Categories</a>
    <a *ngIf="isAdminLoggedIn()" [routerLink]="['/admin/brands']" routerLinkActive="router-link-active"  mat-button class="mat-button">Brands</a>
    <a *ngIf="isAdminLoggedIn()" [routerLink]="['/admin/orders']" routerLinkActive="router-link-active"  mat-button class="mat-button">orders</a>
    <ng-container *ngIf="isUserLoggedIn() || isAdminLoggedIn()">
      <a mat-button mat-button [matMenuTriggerFor]="blog" class="mat-button">Blog<mat-icon class="caret">arrow_drop_down</mat-icon></a>
      <mat-menu #blog="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <a mat-menu-item [routerLink]="['/blog/blog-list']">Blog List</a>
        <a mat-menu-item [routerLink]="['/blog/blog-Add']">Add Blog</a>
        <a mat-menu-item [routerLink]="['/blog/admin-blog-list']" *ngIf="isAdminLoggedIn()">Admin Blog List</a>
      </mat-menu>
    </ng-container>
    
    <ng-container *ngIf="!isUserLoggedIn() && !isAdminLoggedIn()">
      <a [routerLink]="['/blog/blog-list']" mat-button class="mat-button">Blogs</a>
    </ng-container>
    
    <a  *ngIf="!isAdminLoggedIn()" [routerLink]="['/pages/about']" routerLinkActive="router-link-active"  mat-button class="mat-button">About Us</a>
   
    <a *ngIf="!isAdminLoggedIn()" [routerLink]="['/pages/contact']" routerLinkActive="router-link-active"   mat-button class="mat-button">Contact</a>
    <a *ngIf="!isAdminLoggedIn()" mat-button class="mat-button" [routerLink]="['/pages/wishlist']" routerLinkActive="router-link-active" ><mat-icon class="mat-icon-lg mat-icon material-icons mr-8">favorite_border</mat-icon> Wishlist</a>
    <a *ngIf="!isAdminLoggedIn()" mat-button class="mat-button" [routerLink]="['/pages/compare']" routerLinkActive="router-link-active" ><mat-icon class="mat-icon-lg mat-icon material-icons mr-9">cached</mat-icon>Compare</a>
     
    
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="auto"></div>
  <a *ngIf="!isUserLoggedIn() && !isAdminLoggedIn()" mat-button class="mat-button" [routerLink]="['/pages', 'my-account']" routerLinkActive="router-link-active">
    <mat-icon class="mat-icon-lg mat-icon material-icons mr-8">person</mat-icon> Register / Login
  </a> 
  <div>
    <a *ngIf="isUserLoggedIn() || isAdminLoggedIn()" mat-button [matMenuTriggerFor]="acounts" class="mat-button">{{user.firstname }} {{user.lastname}}<mat-icon class="caret" >arrow_drop_down</mat-icon></a>
    <mat-menu #acounts="matMenu" [overlapTrigger]="false" class="app-dropdown">
      <a mat-menu-item [routerLink]="['/pages', 'edit-account']" > <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">person</mat-icon> My Account</a>
      <a mat-menu-item (click)="signOut()">
        <mat-icon class="mat-icon-lg mat-icon material-icons mr-8">exit_to_app</mat-icon> Signout
      </a>
    </mat-menu>
  </div>
</mat-toolbar-row>