<footer class="footer sec-padding2">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="title">
              <h5>Contact Us: </h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p> 2 Rue Abou Raihane Bayrouni 2080 l’Ariana</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p> (216) 71 706 164  /  (216) 71 706 698</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p>electroshop@gmail.com</p>
              </div>
            </div>
          </div>  
  </div>
</footer>
